<%/**
 * about.ejs
 *
 * Student Name: Ronald Saenz
 * Student Id: 301218602
 * Due Date: Feb 05, 2022
 *
 * @link   about.ejs
 * @file   This file defines the view to show the "About Me" Page with my personal information, education, work experience, and my hobbies.
 * @author Ronald Saenz <rsaenzh@my.centennialcollege.ca>
 * @since  1.0.0
 */%>

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body id="page-top">
    <!-- Begin Preloader -->
    <%- include('partials/preloader'); %>
    <!-- End Preloader -->
    <div class="page db-social about">
      <!-- Begin Header -->
      <%- include('partials/header'); %>
      <!-- End Header -->

      <!-- Begin Page Content -->
      <div class="page-content d-flex align-items-stretch">
        <!-- Begin Side Navbar -->
        <div class="compact-sidebar light-sidebar has-shadow">
          <%- include('partials/sidebar'); %>
        </div>
        <!-- End Side Navbar -->
        
        <!-- Begin Content -->
        <div class="content-inner compact">
          <!-- Begin Jumbotron -->
          <div class="jumbotron jumbotron-fluid"></div>
          <!-- End Jumbotron -->
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-xl-11">
                <!-- Start Head Profile -->
                <div class="widget head-profile has-shadow">
                  <div class="widget-body pb-0">
                    <div class="row d-flex align-items-center">
                      <div class="col-xl-12 col-md-12 d-flex justify-content-center">
                        <div class="image-default">
                          <img class="rounded-circle" src="/images/elisyam-theme/img/avatar/ronaldsaenz.jpg" alt="...">
                        </div>
                        <div class="infos">
                          <h2>Ronald Saenz</h2>
                          <div class="location">Toronto, Ontario, Canada</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Head Profile -->
                <div class="row flex-row">
                  <div class="col-xl-5">
                      <!-- Begin Widget -->
                      <div class="widget has-shadow">
                          <div class="widget-header bordered no-actions d-flex align-items-center">
                              <h4>General Infos</h4>
                          </div>
                          <div class="widget-body">
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">About Me:</div>
                                  <div class="about-text">
                                      Hi, I'm Ronald Saenz from Ecuador. I love technology and software development. I have twelve years experienced software developer, strong programming experience in Python,
PHP, Terraform, Ansible, JAVA, Javascript and I used PostgreSQL, MySQL and Oracle Databases, developing web applications, web 
services and scripts, participating in the technical design, development, and implementation
of systems, using principles of Object Oriented Analysis and Design. Five years in 
experienced in secure software development and Secure SDLC. One year in DevOps and Cloud Engineer using AWS, GCP, Github Actions. Fast learner and able to 
effectively self-manage during projects, demonstrating strong organizational and estimation 
skills.
                                  </div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Birthday:</div>
                                  <div class="about-text">August 28, 1988</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Born in:</div>
                                  <div class="about-text">Guayaquil, Ecuador</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Lives in:</div>
                                  <div class="about-text">Toronto, Ontario, Canada</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Gender:</div>
                                  <div class="about-text">Male</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Occupation:</div>
                                  <div class="about-text">Cloud & Devops Engineer, Software Developer</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Skills:</div>
                                  <div class="about-text">
                                    - Cloud Plaftorm (AWS, GCP, DigitalOcean).</br>
                                    - Software Developer (Python, Terraform, Ansible, Java, PHP, Javascript, Perl, Jquery, NodeJS).</br>
                                    - Security Engineer (WAF, Firewalls, IDS/IPS, Nessus, Arbor, Splunk SIEM, AntiSpams).</br>
                                    - Databases: MySQL, PostgreSQL, Oracle, MariaDB.</br>
                                    - Virtualization: Docker.</br>
                                    - Cybersecurity Management based on standard: ISO22301, 27001, PCI-DSS.</br>
                                    - Organizational Tools: JIRA, Confluence.</br>
                                    - Version Control: Gitlab, Github.</br>
                                    - Operating System: Linux, Windows.</br>
                                  </div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Email:</div>
                                  <div class="about-text">rsaenzh@my.centennialcollege.ca - ronaldsaenz88@email.com</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Website:</div>
                                  <div class="about-text">www.ronaldsaenz.com</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title">Phone:</div>
                                  <div class="about-text">+1 647 803 4678</div>
                              </div>
                              <div class="about-infos d-flex flex-column">
                                  <div class="about-title mr-auto">Ratings (21):</div>
                                  <div class="about-text">
                                      <i class="la la-star"></i>
                                      <i class="la la-star"></i>
                                      <i class="la la-star"></i>
                                      <i class="la la-star"></i>
                                      <i class="la la-star"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Widget -->
                  </div>
                  <!-- Begin Column -->
                  <div class="col-xl-7 column">
                      <!-- Begin Education -->
                      <div class="widget has-shadow">
                          <div class="widget-header bordered no-actions d-flex align-items-center">
                              <h4>Education</h4>
                          </div>
                          <div class="widget-body">
                            <div class="row">
                              <div class="col-md-6 about-infos d-flex flex-column">
                                <div class="about-title">Centennial College</br>Toronto, Canada</div>
                                <div class="date">2021 - Present</div>
                                <div class="about-text">Student of Diploma in Software Engineering Technology - Artificial Intelligence (Fast-Track)</div>
                              </div>
                              <div class="col-md-6 about-infos d-flex flex-column">
                                <div class="about-title">Escuela Superior Politécnica del Litoral</br>Guayaquil, Ecuador</div>
                                <div class="date">2016 - 2018</div>
                                <div class="about-text">Cybersecurity Master's Degree</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 about-infos d-flex flex-column">
                                <div class="about-title">Universitat de Valencia</br>Distance</div>
                                <div class="date">2011 - 2011</div>
                                <div class="about-text">Diploma in Project Management</div>
                              </div>
                              <div class="col-md-6 about-infos d-flex flex-column">
                                <div class="about-title">Universidad Católica Santiago de Guayaquil</br>Guayaquil, Ecuador</div>
                                <div class="date">2006 - 2011</div>
                                <div class="about-text">Computer Engineering</div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- End Education -->

                      <!-- Begin Experience -->
                      <div class="widget has-shadow">
                          <div class="widget-header bordered no-actions d-flex align-items-center">
                              <h4>Work Experience</h4>
                          </div>
                          <div class="widget-body">
                              <div class="row">
                                  <div class="col-md-6 about-infos d-flex flex-column">
                                    <div class="about-title">Flugel.it (Remote):</div>
                                    <div class="about-subtitle">Cloud & DevOps Engineer</div>
                                    <div class="date">May 2021 - Present</div>
                                    <div class="about-text">
                                      - Use Infrastructure as code with Terraform, Ansible.</br>
                                      - Cloud Platforms: AWS, GCP, DigitalOcean.</br>
                                      - Programming: Python (Django and Flask Framework).</br>
                                      - Unit test in all development using different tools (E.g. pylint, pytest).</br>
                                      - CI/CD using Github or Gitlab.
                                    </div>
                                  </div>
                                  <div class="col-md-6 about-infos d-flex flex-column">
                                    <div class="about-title">Telconet (Guayaquil, Ecuador):</div>
                                    <div class="about-subtitle">Security Engineer</div>
                                    <div class="date">February 2017 - May 2021</div>
                                    <div class="about-text">
                                      - Manage security tools (WAF, Firewalls, IDS/IPS, Nessus, Arbor, Splunk SIEM, AntiSpam).</br>
                                      - Manage cybersecurity incidents.</br>
                                      - Programming: Python (Django and Flask Framework), Bash/Shell script.</br>
                                      - Code Version with Gitlab.</br>
                                      - Database Administration: MySQL, PostgreSQL.
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 about-infos d-flex flex-column">
                                  <div class="about-title">Telconet (Guayaquil, Ecuador):</div>
                                  <div class="about-subtitle">Software Developer</div>
                                  <div class="date">June 2012 - February 2017</div>
                                  <div class="about-text">
                                    - Integrate all Networking tools (switches, routers) with the company's website to manage the configuration.</br>
                                    - Programming: Python (Django and Flask Framework), Perl, Java, Bash/Shell script.</br>
                                    - Unit test in all development using different tools (E.g. pylint, pytest).</br>
                                    - Code Version with Gitlab.</br>
                                    - Database Administration: MySQL, PostgreSQL and Oracle.
                                  </div>
                                </div>
                                <div class="col-md-6 about-infos d-flex flex-column">
                                  <div class="about-title">Gea Ecuador (Guayaquil, Ecuador):</div>
                                  <div class="about-subtitle">Software Developer</div>
                                  <div class="date">July 2010 - June 2012</div>
                                  <div class="about-text">
                                    - Developed internal applications.</br>
                                    - Programming: PHP, Javascript, HTML, CSS.</br>
                                    - Database Administration: MySQL.
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 about-infos d-flex flex-column">
                                  <div class="about-title">E-technology (Guayaquil, Ecuador):</div>
                                  <div class="about-subtitle">Software Developer</div>
                                  <div class="date">January 2010 - July 2010</div>
                                  <div class="about-text">
                                    - Developed internal applications.</br>
                                    - Programming: PHP, Javascript, HTML, CSS.</br>
                                    - Database Administration: MySQL.
                                  </div>
                                </div>
                                <div class="col-md-6 about-infos d-flex flex-column">
                                  <div class="about-title">Palosanto Solutions (Guayaquil, Ecuador):</div>
                                  <div class="about-subtitle">Software Developer</div>
                                  <div class="date">March 2009 - January 2010</div>
                                  <div class="about-text">
                                    - Developed internal applications.</br>
                                    - Programming: PHP, Javascript, HTML, CSS.</br>
                                    - Database Administration: MySQL.
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Experience -->

                      <!-- Begin Hobbies & Interest -->
                      <div class="widget has-shadow">
                          <div class="widget-header bordered no-actions d-flex align-items-center">
                              <h4>Hobbies & Interest</h4>
                          </div>
                          <div class="widget-body">                            
                            <div class="row">
                              <div class="col-md-12 about-infos d-flex flex-column">
                                <div class="about-text">
                                  - Watch TV, movies, and any sports (Football, Basketball, Tennis, UFC).</br>
                                  - Football (practice and watch).</br>
                                  - Basketball (Watch NBA).</br>
                                  - Play videogames.</br>
                                  - Chess.</br>
                                  - Listen music.</br>
                                  - Enjoy with my family.</br>
                                  - Travel.</br>
                                  - Teach.</br>
                                </div>
                              </div>
                            </div>

                            <div class="d-flex justify-content-center">
                              <div class="hobbies">
                                <div class="hobbies-icon">
                                    <a href="#" title="Football">
                                        <i class="ion-ios-football"></i>
                                    </a>
                                </div>
                              </div>
                              <div class="hobbies">
                                <div class="hobbies-icon">
                                    <a href="#" title="Basketball">
                                        <i class="ion-ios-basketball"></i>
                                    </a>
                                </div>
                              </div>
                              <div class="hobbies">
                                <div class="hobbies-icon">
                                    <a href="#" title="Game Controller">
                                        <i class="ion-ios-game-controller-a"></i>
                                    </a>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex justify-content-center">
                              <div class="hobbies">
                                <div class="hobbies-icon">
                                    <a href="#" title="Music">
                                        <i class="ion-headphone"></i>
                                    </a>
                                </div>
                              </div>
                              <div class="hobbies">
                                <div class="hobbies-icon">
                                    <a href="#" title="Teach">
                                        <i class="ion-easel"></i>
                                    </a>
                                </div>
                              </div>
                              <div class="hobbies">
                                <div class="hobbies-icon">
                                    <a href="#" title="Travel">
                                        <i class="ion-map"></i>
                                    </a>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- End Hobbies & Interest -->
                  </div>
                  <!-- End Column -->
                </div>
                <!-- End Row -->
                <div style="text-align:center">
                  <a href="/download-resume" class="btn btn-gradient-01">Download My Resume</a>
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Container -->

          <!-- Begin Page Footer-->
          <%- include('partials/footer'); %>
          <!-- End Page Footer -->
        </div>
        <!-- End Content -->
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Begin Vendor Js and Page Vendor Js -->
    <%- include('partials/foot_js'); %>
    <!-- End Vendor Js and Page Vendor Js -->
  </body>
</html>
