<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body id="page-top">
    <!-- Begin Preloader -->
    <%- include('partials/preloader'); %>
    <!-- End Preloader -->
    <div class="page db-social albums">
      <!-- Begin Header -->
      <%- include('partials/header'); %>
      <!-- End Header -->

      <!-- Begin Page Content -->
      <div class="page-content d-flex align-items-stretch">
        <!-- Begin Side Navbar -->
        <div class="compact-sidebar light-sidebar has-shadow">
          <%- include('partials/sidebar'); %>
        </div>
        <!-- End Side Navbar -->
        
        <!-- Begin Content -->
        <div class="content-inner compact">
          <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-11">
                    <!-- Begin Page Header-->
                    <div class="page-header pr-0 pl-0">
                        <div class="d-flex align-items-center">
                            <h2 class="page-header-title">Projects</h2>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <div class="row">
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/01.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>26</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/01.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 01</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/02.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>15</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/02.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 02</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/03.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>42</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/03.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 03</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/04.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>10</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/04.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 04</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/05.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>26</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/05.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 05</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/06.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>15</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/06.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 06</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/07.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>42</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/07.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 07</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="widget has-shadow">
                                <figure class="img-hover-01">
                                    <img src="assets/img/albums/08.jpg" class="img-fluid" alt="...">
                                    <div>
                                        <a href="#">
                                            <span>10</span>
                                            <i class="la la-heart-o"></i>
                                        </a>
                                        <a href="assets/img/albums/08.jpg" data-lity data-lity-desc="...">
                                            <i class="la la-expand"></i>
                                        </a>
                                        <a href="#">
                                            <i class="la la-ellipsis-v"></i>
                                        </a>
                                    </div>
                                </figure>
                                <div class="widget-body text-center">
                                    <h3 class="mt-3 mb-3"><a href="#">Album Name 08</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Container -->

          <!-- Begin Page Footer-->
          <%- include('partials/footer'); %>
          <!-- End Page Footer -->
        </div>
        <!-- End Content -->
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Begin Vendor Js and Page Vendor Js -->
    <%- include('partials/foot_js'); %>
    <!-- End Vendor Js and Page Vendor Js -->
  </body>
</html>
