<%/**
 * services.ejs
 *
 * Student Name: Ronald Saenz
 * Student Id: 301218602
 * Due Date: Feb 05, 2022
 *
 * @link   services.ejs
 * @file   This file defines the view to show the "Services" Page with my services which I can do it
 * @author Ronald Saenz <rsaenzh@my.centennialcollege.ca>
 * @since  1.0.0
 */%>

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body id="page-top">
    <!-- Begin Preloader -->
    <%- include('partials/preloader'); %>
    <!-- End Preloader -->
    <div class="page db-social albums">
      <!-- Begin Header -->
      <%- include('partials/header'); %>
      <!-- End Header -->

      <!-- Begin Page Content -->
      <div class="page-content d-flex align-items-stretch">
        <!-- Begin Side Navbar -->
        <div class="compact-sidebar light-sidebar has-shadow">
          <%- include('partials/sidebar'); %>
        </div>
        <!-- End Side Navbar -->
        
        <!-- Begin Content -->
        <div class="content-inner compact">
          <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-11">
                    <!-- Begin Page Header-->
                    <div class="page-header pr-0 pl-0">
                        <div class="d-flex align-items-center">
                            <h2 class="page-header-title">Services</h2>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-remove">
                            <!-- Begin Card -->
                            <div class="widget-image has-shadow">
                                <div class="group-card">
                                    <!-- Begin Widget Body -->
                                    <div class="widget-body">
                                        <div class="category">
                                            <i class="la la-code" style="font-size: 64px;"></i>
                                        </div>
                                        <h4 class="name"><a href="#">Web Development</a></h4>
                                        <div class="category">Software Development</div>
                                        <div class="stats text-center">
                                            <span class="text">Create new web applications and provide code maintenance.</span>
                                        </div>
                                    </div>
                                    <!-- End Widget Body -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-remove">
                            <!-- Begin Card -->
                            <div class="widget-image has-shadow">
                                <div class="group-card">
                                    <!-- Begin Widget Body -->
                                    <div class="widget-body">
                                        <div class="category">
                                            <i class="la la-code-fork" style="font-size: 64px;"></i>
                                        </div>
                                        <h4 class="name"><a href="#">RPA (Robotic process automation)</a></h4>
                                        <div class="category">Software Development</div>
                                        <div class="stats text-center">
                                            <span class="text">Create solutions to automate processes according to customer needs.</span>
                                        </div>
                                    </div>
                                    <!-- End Widget Body -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-remove">
                            <!-- Begin Card -->
                            <div class="widget-image has-shadow">
                                <div class="group-card">
                                    <!-- Begin Widget Body -->
                                    <div class="widget-body">
                                        <div class="category">
                                            <i class="la la-cloud" style="font-size: 64px;"></i>
                                        </div>
                                        <h4 class="name"><a href="#">Security Analysis</a></h4>
                                        <div class="category">Security</div>
                                        <div class="stats text-center">
                                            <span class="text">Asset vulnerability assessment and Ethical Hacking</span>
                                        </div>
                                    </div>
                                    <!-- End Widget Body -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-remove">
                            <!-- Begin Card -->
                            <div class="widget-image has-shadow">
                                <div class="group-card">
                                    <!-- Begin Widget Body -->
                                    <div class="widget-body">
                                        <div class="category">
                                            <i class="la la-unlock" style="font-size: 64px;"></i>
                                        </div>
                                        <h4 class="name"><a href="#">Cloud Services</a></h4>
                                        <div class="category">DevOps</div>
                                        <div class="stats text-center">
                                            <span class="text">Infrastructure as code: provide solutions to integrate the development with the deployment.</span>
                                        </div>
                                    </div>
                                    <!-- End Widget Body -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-remove">
                            <!-- Begin Card -->
                            <div class="widget-image has-shadow">
                                <div class="group-card">
                                    <!-- Begin Widget Body -->
                                    <div class="widget-body">
                                        <div class="category">
                                            <i class="la la-mortar-board" style="font-size: 64px;"></i>
                                        </div>
                                        <h4 class="name"><a href="#">Teaching</a></h4>
                                        <div class="category">Education</div>
                                        <div class="stats text-center">
                                            <span class="text">Teach about Software Development, Cybersecurity and DevOps.</span>
                                        </div>
                                    </div>
                                    <!-- End Widget Body -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                    <!-- End Row -->
                </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Container -->

          <!-- Begin Page Footer-->
          <%- include('partials/footer'); %>
          <!-- End Page Footer -->
        </div>
        <!-- End Content -->
      </div>
      <!-- End Page Content -->
    </div>

    <!-- Begin Vendor Js and Page Vendor Js -->
    <%- include('partials/foot_js'); %>
    <!-- End Vendor Js and Page Vendor Js -->
  </body>
</html>
